### Sets

Very similar to dictionaries. Defined using curly brackets and do not contain duplicates

In [1]:
my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [2]:
#can also be defined by passing any sort of iterable object to the set constructor
my_set = set(['a', 'b', 'c']) #passed a list to the set constructor
my_set

{'a', 'b', 'c'}

In [4]:
#we can even pass a tuple to the set consructor
my_set = set(('a', 'b', 'c', 'A', 'B', 'a'))
my_set

{'A', 'B', 'a', 'b', 'c'}

In [7]:
#deduplicate a list
my_list = ['a', 'b', 'c', 'A', 'B', 'a']
modified_list = list(set(my_list))
print(modified_list)
print(type(modified_list))

['A', 'a', 'c', 'B', 'b']
<class 'list'>

##### Properties of Sets

- Declared with curly brackets
- All elements are unique
- The order doesn't matter
- Objects in Set are randomised and we cannot fetch items using their index

In [8]:
my_set[0]

TypeError: 'set' object is not subscriptable

In Python, an object is subscriptable if it contains elements that can be accessed by an index, it contains ordered accessible subelements

In [9]:
#lets do something silly
number = 1
number[0]

TypeError: 'int' object is not subscriptable

In [14]:
#however, we can add elements to a set
my_set.add('d')
my_set

{'A', 'B', 'a', 'b', 'c', 'd'}

In [15]:
'a' in my_set

True

In [16]:
'z' in my_set

False

In [17]:
len(my_set)

6

In [18]:
while len(my_set):
    print(my_set.pop())

A
a
c
B
b
d

In [21]:
my_set = set(('a', 'b', 'c', 'A', 'B', 'a'))
my_set.discard('a')
my_set

{'A', 'B', 'b', 'c'}

### Tuples

Similar to lists, except, they are declared with parentheses

In [23]:
#tuples are ordered and subscriptable
my_tuple = ('a', 'b', 'c', 'd')
print(my_tuple)
print(my_tuple[0])

('a', 'b', 'c', 'd')
a

In [24]:
#however, tuples are immutable
my_tuple[0] = 'z'

TypeError: 'tuple' object does not support item assignment

#### Tuples 

- Declared with parentheses
- Are ordered and subscriptable
- Cannot be modified

#### Why use tuples?

- More efficient than lists
- They do not grow or change
- Store compactly in memory as it only takes up the space it requires; there won't be any modifications to the tuple.

In [25]:
#say we want to write a function that returns multiple values separated by a comma
#tuples used by default here
def returns_multiple_values():
    return 1, 2, 3

type(returns_multiple_values())

tuple